@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.2rem; }

.text-dark {
  color: #e85d04 !important; }

.list-group-item {
  border: none; }

a {
  text-decoration: none; }

body {
  background-color: ghostwhite; }

.barra {
  padding-top: 30px; }

.header {
  background: url(../img/header.jpg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
  padding-left: 50vh; }

.Head {
  min-height: 30vh;
  padding-left: 50vh; }

.header .navbar {
  background-color: transparent !important; }

.navbar-light .navbar-nav .nav-link {
  color: #e85d04 !important;
  font-weight: 700; }

.navbar-light .navbar-toggler-icon {
  color: white !important; }

.fondo {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100; }

.textoMenu {
  text-decoration: none;
  margin-top: 80px;
  display: flex;
  align-items: center;
  position: absolute;
  color: white;
  justify-content: center;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.1rem;
  text-shadow: gray;
  width: 100%; }

.logoHeader {
  width: 130px;
  margin-top: -40px; }

.contenedorIconos {
  margin-top: -50px;
  width: 100%;
  display: flex;
  justify-content: flex-end; }

.iconosContenido {
  margin-top: -80px;
  margin-right: 50px; }

.iconosContenido a i {
  color: rgba(255, 255, 255, 0.5); }

.iconosContenido a i:hover {
  color: white; }

.animate__animated .animate__bounce {
  --animate-delay: 1.0s; }

.iconos {
  color: white;
  padding: 0 5px 0 5px;
  font-size: 1.3rem; }

.textoPrincipal {
  font-weight: 700;
  position: absolute;
  color: white;
  text-align: left;
  font-size: 3rem;
  margin: 30vh 0vh 0vh 30vh;
  text-shadow: 2px 2px 2px black; }

.botonPrimario {
  color: white;
  font-weight: 700;
  padding: 20px 150px;
  text-align: center;
  margin: 50vh 0vh 0vh 30vh;
  background-image: linear-gradient(60deg, #e85d04, #dc2f02);
  border-radius: 33px 0px 33px 0px; }

.botonPrimario:hover {
  color: white;
  background-image: linear-gradient(80deg, #e85d04, #dc2f02); }

.botonPrimario a {
  color: white; }

.botonPrimario:hover {
  color: black; }

.logo {
  margin: 10px; }

.logoMenu {
  width: 180px; }

.texto1 {
  word-wrap: break-word;
  width: 300px;
  padding-top: 200px;
  margin-left: 200px; }

.texto2 {
  word-wrap: break-word;
  text-align: right;
  margin-top: 200px;
  margin-left: 100px;
  margin-right: 100px; }

.botonInfo {
  background-image: linear-gradient(60deg, #e85d04, #dc2f02);
  letter-spacing: 1px;
  font-weight: 700; }

.tarjetaOculta {
  color: gray; }

.botonInfo:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 51, 0, 0.76); }

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black; }

.logoFooter {
  width: 150px;
  height: 150px; }

/* BUCLE EN SASS */
h1 {
  font: 2em; }

h2 {
  font: 1em; }

h3 {
  font: 0.66667em; }

h4 {
  font: 0.5em; }

h5 {
  font: 0.4em; }

@media (max-width: 600px) {
  .img1 {
    display: none; }
  .img2 {
    display: none; }
  .texto1 {
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px; }
  .texto2 {
    word-wrap: break-word;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px; }
  .item-logo {
    display: none; }
  .fondo {
    display: none; }
  .header {
    background: url(../img/header.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    padding-left: 0vh; }
  .iconosContenido {
    margin-top: -20px;
    margin-right: 0px; }
  .textoPrincipal {
    font-weight: 700;
    position: absolute;
    color: white;
    font-size: 1.3rem;
    text-align: center;
    margin: 15vh 0vh 0vh 0vh;
    text-shadow: 2px 2px 2px black; }
  .botonPrimario {
    color: white;
    font-weight: 700;
    padding: 20px 40px;
    text-align: center;
    margin: 25vh 0vh 0vh 00vh;
    background-image: linear-gradient(60deg, #e85d04, #dc2f02);
    border-radius: 33px 0px 33px 0px; } }

/* CONTACTO */
.contenedorContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }

.tituloContacto {
  color: #e85d04;
  font-weight: 700; }

.parrafoContacto {
  color: gray;
  font-size: 1.5rem;
  letter-spacing: -.1rem;
  text-transform: uppercase; }

.formularioContacto {
  padding: 20vh 0vh 20vh 0vh;
  background-color: #e85d04;
  color: white;
  font-weight: 700; }

.form-control {
  /* background-color: $color-principal; */
  border: none;
  margin-top: 10px;
  opacity: 0.3; }

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media (max-width: 600px) {
  .tituloContacto {
    color: #e85d04;
    font-weight: 700;
    font-size: 1.1rem; }
  .parrafoContacto {
    word-wrap: break-word;
    color: gray;
    font-size: .9rem;
    letter-spacing: 0rem; }
  .logoMenu {
    width: 50px; }
  .Head {
    min-height: 30vh;
    padding-left: 0vh; } }
